@import '@/assets/all.scss';

.container {
  font-family: 'Libre Baskerville', serif;
}

.breadBox {
  @extend %flexbox3;
  width: 100%;
  height: 3rem ;
  background-color: $color3;
  padding: 0px 0px 0px 15px;
}

ol {
  > li {
    font-size: 18px;

    > a {
      text-decoration: none;
    }    
  }
  
}

.cart {
  color: $color2;
}

.breadLi {
  padding-top: .1rem;
}

.breadHr {
  color: $color1;
  margin-top: 0;
  margin-bottom: 50px;
}

.aProductBox {
  margin-bottom: 20%;
}

.figureBox {
  text-align: center;
}

.productTextBox {
  margin: 0 auto;
  padding: 1% 1%;
}

.productName {
  color: $color1;
  font-size: 1.5rem ;
  margin-bottom: 1rem;
}

.text {
  color: $color1;
  font-size: 1rem ;
  margin-left: .25rem ;
  line-height: 20px;
}

.textBox {
  color: #000;
  margin-left: .25rem ;
  background-color: #5d403608;
  font-weight: bold;
}

.priceText {
  color: $color1;
  font-size: 1rem ;
  margin-bottom: 1rem;
}

.addProductBtn {
  width: 25%;
  background-color: $color2;
  color: #fff;
  padding: 7px 0px;
  letter-spacing: 1px;
  border: 0;
  opacity: 1;
  transition: .5s;
}

.addProductBtn:hover {
  background-color: #fff;
  color: $color2;
  border: 1px solid $color1;
  opacity: .8;
  transform: scale(.9);
}

//RWD
@media screen and (max-width: 600px) {
  .productTextBox {
    padding: 0% 20%;
  }

  .addProductBtn {
    width: 35% ;
  }
}

@media screen and (min-width: 600px) {
  .productTextBox {
    padding: 0% 20%;
  }

  .addProductBtn {
    width: 33% ;
  }
}

@media screen and (min-width: 768px) {
  .productTextBox {
    padding: 1% 1%;
  }

  .addProductBtn {
    width: 35% ;
  }
}

@media screen and (min-width: 992px) {
  .productTextBox {
    padding: 1% 1%;
  }

  .addProductBtn {
    width: 35% ;
  }
}

@media screen and (min-width: 1200px) {
  .productTextBox {
    padding: 1% 1%;
  }

  .addProductBtn {
    width: 25% ;
  }
}
