@import '@/assets/all.scss';

.navbarBox {
  @extend %flexbox10;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  max-width: 1920px;
  min-height: 50px;
  margin-bottom: 5%;
}

.navbarBox > a {
  transition: all .5s ease;
}

.logo {
  max-width: 50%;
  height: auto;
  vertical-align: middle;
  transition: .5s;
}

.logo:hover {
  transform: scale(0.9);
}

.navBox {
  margin: 0;
  background-color: transparent;
  height: auto;
  padding: 0;
}

.toggleIcon {
  color: $color1;
}

.linkBox {
  justify-content: space-around;
}
    
.navLink {
  width:800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navLink > a {
  width: 100%;
  margin: 2%;
  color: #000;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  transition: .5s;
  opacity: 1;
}

.navLink > a:hover {
  color: $color2;
  opacity: .9;
  transform: scale(1.1);
}

//RWD
@media screen and (max-width: 600px) {
  .navBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .navBox > button {
    margin: 4% 0 2% 0;
  }

  .navLink {
    width: 100%;
    margin: 0;
  }

  .navLink > a {
    width: 100%;
    text-align: end;
    margin: 4%;
  }
}

@media screen and (min-width: 600px) {
  .navBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .navBox > button {
    margin: 6% 0 3% 0;
  }

  .navLink {
    width: 100%;
    margin: 0;
  }

  .navLink > a {
    width: 100%;
    text-align: end;
    margin: 5%;
  }
}

@media screen and (min-width: 768px) {
  .navBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .navBox > button {
    margin: 8% 0 4% 0;
  }

  .navLink {
    width: 100%;
    margin: 0;
  }

  .navLink > a {
    width: 100%;
    text-align: end;
    margin: 6%;
  }
}

@media screen and (min-width: 992px) {
  .linkBox {
    width: 700px;
  }

  .navLink > a {
    width: 100%;
    text-align: center;
    margin: 2%;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 2%;
  }

  .linkBox {
    width: 820px;
  }

  .navLink > a {
    width: 100%;
    text-align: center;
    margin: 2%;
  }
}
