@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

//CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Libre Baskerville', serif;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

//自定義色彩
$color1: #5d4036;
$color2: #8c6450;
$color3: #ffffff00;
$color4: #5d4036c4;
$color5: #453028;
$colorSuccess: rgb(28, 135, 84);
$colorDanger: #c23946;

//自定義排版
%flexbox1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexbox2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flexbox3 {
  display: flex;
  align-items: center;
}

%flexbox4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flexbox5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%flexbox6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

%flexbox7 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

%flexbox8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%flexbox9 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

%flexbox10 {
  display: flex;
  justify-content: space-between;
}

%flexbox11 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

//自定義樣式
%mutedBorder {
  border: 1px solid #dee2e6;
}

%modalInput {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(160, 121, 100, .5);
  padding: 7px 7px;
  outline-style: none;
}

%modalH6 {
  background-color: #5d403608;
}
